{% extends 'base.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<p>Email: {{ user.email }}</p>


<h3>Notes</h3>
<ul>
  {% for note in user.notes %}
  <li>
    {{ note.title }}: {{ note.content }}
    <div>
      <button class="btn btn-primary">
        <a class = "text-white" href="/notes/{{note.id}}/update">Edit</a>
      </button>

      <form action="/notes/{{note.id}}/delete" method="POST">
        {{form.hidden_tag()}}
        <button type="submit" class="btn btn-danger">Delete Note</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>

<form action="/users/{{user.username}}/notes/add" method="GET">
  <button type="submit" class="btn btn-primary">Add Note</button>
</form>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<form action="/users/{{user.username}}/delete" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Delete</button>
</form>

{% endblock %}

<!-- formaction formmethod on each button -->